/* Variables */
:root {
    /* One Dark Values */
    /* https://github.com/atom/atom/blob/master/packages/one-dark-syntax/styles/colors.less */

    /* config */
    --hue: 220;
    --saturation: 13%;
    --brightness: 18%;

    /* monochrome */
    --mono-0: #e2ebfd;
    --mono-1: #abb2bf;
    --mono-2: #9ea6b6;
    --mono-3: #5c6370;
    --lighter-grey: #f2f2f2;
    --light-grey: #d9d9d9;

    /* hues */
    --hue-1: hsl(187, 47%, 55%);
    --hue-2: hsl(207, 82%, 66%);
    --hue-3: hsl(286, 60%, 67%);
    --hue-4: hsl(95, 38%, 62%);
    --hue-5: hsl(355, 65%, 65%);
    --hue-5-2: hsl(5, 48%, 51%);
    --hue-6: hsl(29, 54%, 61%);
    --hue-6-2: hsl(39, 67%, 69%);

    /* colors */
    --fg: var(--mono-1);
    --fg2: #4b5263;
    --bg-light: #282c34;
    --bg-dark: #21252b;
    --bg-darker: #1d1f23;
    --gutter: hsl(var(--fg), 100%, 26%);
    --guide: hsl(var(--fg), 100%, 15%);
    --accent: hsl(var(--hue), 100%, 66%);

    /* font */
    --font-sans: "Roboto", sans-serif;
    --font-mono: "Roboto Mono", monospace;
    --font-size: 13px;
    --icon-size: var(--font-size);
    --font-weight-light: 200;
    --font-weight-base: 400;
    --font-weight-bold: 500;
    --font-line-height: 1.3em;

    /* misc. */
    --transition: 100ms;
}

/* Base Elements */
* {
    /* font-family: var(--font-sans); -- breaks emojis*/
    font-weight: var(--font-weight-base);
    line-height: var(--font-line-height);
    color: var(--mono-1);
}

body {
    background-color: var(--bg-dark) !important;
}

b {
    font-weight: 600;
}

.bg-darker {
    background-color: var(--bg-darker);
}
.bg-light {
    background-color: var(--bg-light);
}

div.row > div.col {
    padding: 0.5em !important;
}

div.table {
    border-radius: 0.33em;
}

a {
    color: var(--hue-2) !important;
    transition-duration: var(--transition);
}

a:hover {
    background-color: var(--hue-3);
    color: var(--bg-light) !important;
    transition-duration: var(--transition);
    /* border-radius: .1em; */
}
